@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100&family=Montserrat+Alternates:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

html {
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
  padding: 0;
  background-image: url(wallpaperrr2.png);
}

body {
  font-family: "Alexandria";
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  padding: 0;
  margin: 0;
}

main {
  max-width: 75ch;
  font-family: "Alexandria";
  line-height: 1.5;
  color: #000000;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tomorrow";
  margin: 0;
  font-weight: 700;
}

h2 {
text-shadow: 2px 2px 2px #a6ae11;
color:#201d1d;
background: white;
border-radius: 7px;
}

a:visited {
  text-decoration: none;
  color: #0008aa;
}

a {
  text-decoration: none;
  color: #ff0606;
}

img {
  background-color: white;
  border-radius: 15px;
}

/*nav styles*/

nav { 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Alexandria";
  padding: 10px 0;
}


nav .mainMenu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}

nav .mainMenu li a {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  text-decoration: none;
  color: #ff0000;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border-radius: 12px;
  background:white;
  border: 1px solid black;
}

nav .mainMenu li a:hover {
  background: #0015ff;
  transition: ease 0.5s;
  color: yellow;
}

nav .openMenu {
  margin: 30px;
  display: none;
}

nav .mainMenu .closeMenu,
.icons i {
  display: none;
}

.logo {
  color: #272727;
  font-size: 1.5em;
  text-shadow: 2px 2px 5px #a6ae11;
  background: white;
}

/*index styles*/

#description {
  text-align: center;
  padding: 5px;
}

#description h2 {
  font-size: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*carousel styles*/

.carousel--wrapper {
  width: 100%;
  position: relative;
  }

.carousel--wrapper--sec {
  overflow: hidden;
}

.carousel .progress-bar {
  position: relative;
  background-color: #dee6ff;
  height: 2em;
  border-radius: 10px;
}
.carousel .progress-bar .progress-bar-insider {
  position: relative;
  background-color: #2424eb;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  width: 4%;
  height: 2em;
  transition: 0.2s width;
  border-radius: 10px;
}
.carousel .progress-bar .progress-bar-insider:after {
  content: attr(data-progress);
  color: white;
  position: absolute;
  right: 0.5em;
  left: 0.25em;
  top: 50%;
  transform: translateY(-55%);
}
.carousel .carousel__content {
  width: auto;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: translate3d(0, 0, 0);
  transition: translated(0, 0, 0);
}
.carousel .carousel__content .carousel--item {
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  height: 400px;
  background-color: #7d81ff;
  border-radius: 10px;
}

.carousel--title {
  transform: translateY(-50px);
  padding: 0;
  margin-bottom: 0;
  text-align: center;
  color: #000000;
  font-size: 20px;
}

.carousel .carousel__content .carousel--item .carousel--radios {
  font-size: 2em;
  color: #c8d6f9;
  opacity: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio-item {
  display: flex;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 2em;
}

.carousel .carousel__content .carousel--item .carousel--btn {
  font-size: 2em;
  color: #733232;
}
.carousel .carousel__nav {
  width: 100%;
  z-index: 99;
  display: flex;
}
.carousel .carousel__nav .nav--buttons {
  position: absolute;
  top: 0;
  color: #1114ae;
  padding: 12px 25px;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
  transition: padding .25s ease;
  text-shadow: 2px 1px 1px rgba(14, 85, 52, 0.44);
}
.carousel .carousel__nav .nav--buttons:hover {
  padding: 15px 15px;
}
.nav--buttons--left {
  left: 0;
  border-radius: 0px 3px 3px 0px;
}
.nav--buttons--right {
  right: 0;
  border-radius: 3px 0px 0px 3px;
}

label {
  padding: 1.25em 0 0;
  cursor: crosshair;
  font-size: 16px;
  font-family: "Alexandria";
  color: #000000;  
}

.carousel--radios button, #btnCalculate {
  font-family: "Tomorrow";
  color: #ffffff;
  background-color: #fb0000;
  padding: 10px 30px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
  font-size: 20px;
}

.carousel--radios button:hover, #btnCalculate:hover {
  padding: 15px 35px;
  background-color: #ff0000;
}

#beginbtn:hover {
padding: 10px 30px;
}

#firstslide {
  display: flex;
}

input[type="radio"] {
  appearance: none;
  -moz-appearance: none;
  margin: 0 1em;
  width: 2em;
  height: 2em;
  background: #eeeeee;
  box-shadow: inset 0 0 0 .4em #fff, 0 0 0 .2em;
  border-radius: 25%;
  transition: .2s;
  cursor: crosshair;
  color: #ddd;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
}
input[type="radio"]:hover, input[type="radio"]:checked {
  background: #333273;
  box-shadow: inset 0 0 0 .5em #fff, 0 0 0 .25em #333273;
}
input[type="radio"]:checked {
  background: #333273;
  box-shadow: inset 0 0 0 .4em #fff, 0 0 0 .2em #333273;
}
input[type="radio"]:focus {
  outline: 0;
}

.middle-flex {
  margin-top: -1em;
  margin-bottom: 1em;
}

/*game styles*/


/*game directory styles*/



.products_wrapper {
  display: grid;
  grid-template-columns: repeat(4,1fr) ;
  margin: 5rem 0;
  grid-gap: 2rem;
}
.products {
  background-color: #3756f1;
  border-radius: 5px;
  color:white;
  border-color: black;
}

.pr_img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.hide {
  display: none;

}
.content {
  padding: 1rem;
}

.content .title {
  font-size: 1rem;
}
.content {
  color:white;
}

.content a {
  color: rgb(255, 0, 0);
  border-radius: 4px;
  padding: 3px;
}

.content a:hover {
  background-color: blue;
  color:rgb(255, 240, 37);

}

#gameDirectoryBody {
  display: grid;
  grid-template-columns: 0.20fr 1fr;
  justify-items: start;
}


.productImg {
  background-color: white;
  border-radius: 15px;
  width: 200px;
  height: 200px;
}


/*footer*/
footer {

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px 0;
	position: sticky;
	margin: 0;
padding: 2em;

  }

  #fixed {

	margin: 0;
	padding: 0;
	width: 100%;
  }

   #footer-nav {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 10px;
  background-color: 
  border-radius: 12px;
  }
  
   #footer-nav a {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 10px;
	text-decoration: none;
	color: #ff0000;
	text-align: center;
	font-size: 18px;
	border-radius: 16px;
	font-family: "Alexandria";
  font-size: 18px;
  font-weight: 700;
  background: white;
  border: 1px solid black;
  }
  
 #footer-nav a:hover {
	background: rgb(1, 52, 255);
	transition: ease 0.5s;
  color:yellow
  }
  body::after {
	content: '';
	display: block;
	height: 50px;
  }
  
  .footer-nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
  }


/*media */
@media (max-width: 600px) {

  nav {
    width: 100%;
  }

  nav .mainMenu {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1s ease;
    line-height: 2;
    background-color: #ffffff;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }


  .logo {
    width: 100%;
    margin: 10px;
    font-size: 1.5rem;
  }

  .progress-bar-insider {
    font-size: 0.8em;
    padding: 1.25em !important;
  }
  
  #gameDirectoryBody {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel .carousel__nav {
    width: 100%;
    z-index: 99;
    display: none;
  }
  .carousel .carousel__nav .nav--buttons {
    position: absolute;
    top: 0;
    color: #1114ae;
    padding: 12px 25px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5em;
    transition: padding .25s ease;
    text-shadow: 2px 1px 1px rgba(14, 85, 52, 0.44);
  }
  .carousel .carousel__nav .nav--buttons:hover {
    padding: 15px 15px;
  }
  .nav--buttons--left {
    left: 0;
    border-radius: 0px 3px 3px 0px;
  }
  .nav--buttons--right {
    right: 0;
    border-radius: 3px 0px 0px 3px;
  }

  .show {
    width: 100%;
    transition: 0.5s ease;
    top: 0;
    transform: translateX(0px);
    z-index: 99;
  }

  .hide {
    transition: 1s ease;
    transform: translateX(-640px);
  }

  .filterBtn {
    background: #C8F9C9;
  }

  .productImg {
    width: 150px;
    height: 150px;
  }

  img {
    width: 200px;
    height: 200px;
  }

  .productCard {
    width: 200px;
    background: #C8F9C9;
    border-radius: 15px;
    text-align: left;
  }

  .productCard ul {
    font-size: 0.75em;
  }

  .carousel--title--sub {
    margin-top: 0.5em !important;
    font-size: 1em !important;
  }

  .carousel--radios {
    top: 45% !important;
    width: 100% !important;
  }

  .carousel--btn {
    font-size: 1.25em !important;
  }

  .carousel--title--sub {
    font-size: 0.9em !important;
  }

  .carousel--radios {
    top: 40% !important;
    font-size: 1.5em !important;
  }

  .full-when-mobile {
    width: 100%;
  }

  .carousel--title {
    text-align: left;
    color: #272727;
    font-size: 1.25em;
    top: 20%;
    padding: 0 20px;
  }

  .carousel .carousel__content .carousel--item {
    width: 50%;
    height: 550px;
    position: relative;
    }
  
  .carousel .carousel__content .carousel--item .carousel--radios {
    font-size: 2em;
    color: #fff;
    text-align: left;
    opacity: 1;
    display: grid;
    grid-template-columns: .5fr .5fr .5fr;
    
    gap: 10px;
  }

  .radio-item {
    text-align: center;
  }

  input[type="radio"] {
    align-self: flex-start;
  }

  #description {
    text-align: left;
    padding: 0 10px;
  }

  .carousel .progress-bar .progress-bar-insider:after {
    transform: translateY(-100%);
  }
  .products_wrapper {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .logo {
    font-size: 1.5em;
  }
  
  .objects {
    padding: 10px;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  } 

}


/* result page */
.resultcard {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgb(164, 164, 255),blue);
  width: 300px;
  height: 300px;
  padding: 50px;
 margin: auto;
 border-radius: 12px;
}

.trybtn {
  margin: auto;
  display: flex;
justify-content: center;

}

/*about styles*/
#aboutMain {
  font-family: "Alexandria", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #272727;
  display: block;
  background: linear-gradient(white, rgb(193, 210, 255));
  border-radius: 12px;
}

#sources, #files {
  display: flex;
  gap: 10px;
}

#sources a:hover {
  color: yellow;
}
#files a:hover {
color:yellow;
}


/*directory*/

.search ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search ul li {
  margin: 1rem 1rem;

}

.search ul li a {
  padding: .5rem 1rem;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
}

.search ul li a:hover {
  color:red;
}

nav .mainMenu p a {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  text-decoration: none;
  color: #ff0000;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border-radius: 12px;
}

nav .mainMenu p a:hover {
  background: #0015ff;
  transition: ease 0.5s;
  color: yellow;
}



/*.search li a{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  text-decoration: none;
  color: #ff0000;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border-radius: 12px;
}*/